<div class="nav-items">
    <a class="nav-item" href="/">Home</a>
    {%- for path in include.paths -%}
    {%- assign hyperpage = site.pages | where: "path", path | first -%}
    {%- if hyperpage.title %}
    <a class="nav-item" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.title | escape }}</a>
    {%- endif -%}
    {%- endfor %}
    <a class="nav-item" href="https://github.com/ch3ng625", target="_blank"><img src="/assets/images/site/github.svg" style="height: 1em; vertical-align: middle;"> GitHub</a>
    <a class="nav-item" href="https://au.linkedin.com/in/chengw625/", target="_blank"><img src="/assets/images/site/linkedin.png" style="height: 1em; vertical-align: middle;"> LinkedIn</a>
    <a class="nav-item" href="https://app.hackthebox.com/public/users/786447", target="_blank"><img src="/assets/images/site/htb.svg" style="height: 1em; vertical-align: middle;"> HackTheBox</a>
  </div>